<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd"
       default-destroy-method="destroy"
>
    <!--        <bean id="helloClazzJava" class="edu.java.spring.HelloClazz" init-method="initMessage" scope="singleton">-->
    <!--            <property name="message" value="Welcome to Java Clazz"/>-->
    <!--        </bean>-->
    <!--    <bean id="helloClazzJava" class="edu.java.spring.HelloClazz">-->
    <!--        <property name="message" value="Welcome to Java Clazz"/>-->
    <!--    </bean>-->
    <!--    <bean id="helloClazzJava" class="edu.java.spring.HelloClazz" init-method="initMessage">-->
    <!--        <constructor-arg type="int" value="5"/>-->
    <!--    </bean>-->
    <!--    <bean id="helloClazzJava2" class="edu.java.spring.HelloClazz" init-method="initMessage">-->
    <!--        <constructor-arg ref="helloClazzJava"/>-->
    <!--    </bean>-->
    <!--    <bean class="edu.java.spring.InitSampleBean"/>-->
    <!--    <bean id="helloJavaClazz" class="edu.java.spring.HelloWorld">-->
    <!--        <property name="message" value="Hello sub bean"/>-->
    <!--    </bean>-->
    <!--    <bean id="helloWorld" class="edu.java.spring.HelloWorld" parent="helloJavaClazz"/>-->
    <!--    <bean id="sampleTemplate" abstract="true">-->
    <!--        <property name="message" value="Template say Hello!"/>-->
    <!--    </bean>-->
    <!--    <bean id="helloWorld" class="edu.java.spring.HelloWorld" parent="sampleTemplate"/>-->
    <!--    <bean id="helloJavaClazz" class="edu.java.spring.HelloClazz">-->
    <!--        <property name="message" value="Tran Duc Phuong"/>-->
    <!--    </bean>-->
    <bean id="helloWorld" class="edu.java.spring.HelloWorld">
        <property name="message" value="Hello Annotation based Configuration"/>
        <property name="clazz">
            <bean class="edu.java.spring.HelloClazz">
                <property name="message" value="Hello class Instance is Inner Bean"/>
            </bean>
        </property>
    </bean>
    <bean id="jee01" class="edu.java.spring.JavaClazz">
        <property name="students">
            <map>
                <entry key="Nguyen Van A" value="23"/>
                <entry key="Nguyen Van B" value="20"/>
                <entry key="Nguyen Van C" value="21"/>
            </map>
        </property>
    </bean>
    <bean id="helloJavaClazz" class="edu.java.spring.HelloClazz">
        <property name="clazzes">
            <list>
                <ref bean="jee01"/>
                <ref bean="jee01"/>
                <ref bean="jee01"/>
                <ref bean="jee01"/>
                <null/>
            </list>
        </property>
    </bean>
    <bean id="helloWorld1" class="edu.java.spring.HelloWorld" autowire="byName">
        <property name="message" value="Hello Annotation based Configuration"/>
    </bean>
    <bean id="clazz" class="edu.java.spring.HelloClazz">

    </bean>
    <!--    <bean id="startEventHandler" class="edu.java.spring.ContextStartEventHandler"/>-->
</beans>