<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:secutiry="http://www.springframework.org/schema/security"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:secutity="http://www.springframework.org/schema/security"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-5.7.xsd
       http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd">
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="order" value="1"/>
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="order" value="3"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
    </bean>
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/tiles/definitions.xml</value>
            </list>
        </property>
    </bean>
    <bean id="passwordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        <property name="packagesToScan" value="edu.hanoi.jazz.springjazz.model"/>
        <property name="mappingLocations">
            <list>
                <value>classpath:User.xml</value>
            </list>
        </property>
    </bean>
    <bean id="startEventHandler" class="edu.hanoi.jazz.springjazz.ContextStartEventHandler"/>
    <security:http auto-config="true">
        <secutiry:intercept-url pattern="/nguoi-dung/**" access="hasRole('ROLE_USER')"/>
        <secutiry:intercept-url pattern="/dang-nhap" access="permitAll"/>
        <security:form-login login-page="/dang-nhap"
                             username-parameter="username"
                             password-parameter="password"
                             login-processing-url="/_j_spring_security_check"
                             authentication-failure-url="/dang-nhap?error=1"
                             default-target-url="/nguoi-dung"/>
        <security:logout logout-url="/j_spring_security_logout"
                         logout-success-url="/"/>
    </security:http>
    <secutiry:global-method-security pre-post-annotations="enabled"/>
    <secutiry:authentication-manager>
        <secutiry:authentication-provider>
            <secutiry:password-encoder ref="passwordEncoder"/>
            <secutiry:user-service>
                <secutiry:user name="123" password="1" authorities="ROLE_USER"/>
            </secutiry:user-service>
        </secutiry:authentication-provider>
    </secutiry:authentication-manager>
</beans>